* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: cursive;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative; 
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 75px 90px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.about {
    width: 80%;
    margin: 100px auto;
}

.about-text {
    margin-top: 10px;
}

.comments {
    width: 80%;
    margin: 100px auto;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-otthiv{
    height: 10vh;
    width: 5vw;
    border-radius: 75px;
}

.img-gameplay {
    width: 20%;
}

.features {
    width: 80%;
    margin: 100px auto;
}

.features-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    font-size: 1.2em;
}

.features-list li {
    padding: 30px;
    border: 2px solid white;
    border-radius: 25px;
    background-color: red;
    list-style-type: none;
    box-shadow: 10px 10px black;
}

.contacts {
    width: 80%;
    margin: auto;
}

.contact {
    margin-top: 10px;
    margin-left: 50px;
}

.links {
    width: 80%;
    margin: 25px auto;
}

.link {
    display: block;
    margin-top: 10px;
    margin-left: 50px;
}
