:root {
    --black: black;
    --white: #f2f2f2;
    --transparent_white: rgba(255, 255, 255, 0.6);
    --red: red;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: cursive;
    transition: color 200ms ease, background-color 200ms ease;
}

body {
    background-color: var(--white);
    color: var(--black);
}

.theme-change {
    width: 5vw;
    height: 5vh;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid var(--white);
    border-radius: 2.5vw;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        background-color 200ms ease,
        transform 50ms ease;
}

.theme-change:hover {
    background-color: var(--transparent_white);
}
.theme-change:active {
    transform: translateY(2px);
}

.gallery_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin-top: 25px;
}

.gallery {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 10px;
    min-width: calc(var(--total-items) * 300px);

}

.gallery-item {
    flex-grow: 1;
    height: 100%;
    border-radius: 35px;
    transition: 
        flex-grow 750ms ease-out,
        transform 200ms,
        box-shadow 200ms;
    background-size: cover;
    background-position: center;
    
}

.gallery-item:not(.active):hover {
    transform: translateY(-7px);
    box-shadow: 2px 4px 15px 10px var(--black);
    cursor: pointer;
}

.gallery-item.active {
    flex-grow: var(--total-items);
}

header {
    width: 100vw;
    height: 100vh;
    position: relative; 
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer, .background, .layers_container, .head-text {
    width: 100vw;
    height: 100vh;
}

.background {
    transform: scale(1.2) translateZ(-80px);
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.head-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 75px 90px;
    border: 2px solid var(--white);
    border-radius: 50px;
    background-color: var(--transparent_white);
    color: white;
}

.about {
    width: 80%;
    margin: 100px auto;
}

.about-text {
    margin-top: 10px;
}

.comments {
    width: 80%;
    margin: 100px auto;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-otthiv{
    height: 10vh;
    width: 5vw;
    border-radius: 75px;
}

.img-gameplay {
    width: 20%;
}

.features {
    width: 80%;
    margin: 100px auto;
}

.features-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    font-size: 1.2em;
}

.features-list li {
    padding: 30px;
    border: 2px solid var(--black);
    border-radius: 25px;
    list-style-type: none;
    box-shadow: 10px 10px var(--red);
}

.contacts {
    width: 80%;
    margin: auto;
}

.contact {
    margin-top: 10px;
    margin-left: 50px;
}

.links {
    width: 80%;
    margin: 25px auto;
}

.link {
    color: var(--black);
    display: block;
    margin-top: 10px;
    margin-left: 50px;
}
