* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: cursive;
}

.gallery_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin-top: 25px;
}

.gallery {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 10px;
    min-width: calc(var(--total-items) * 300px);

}

.gallery-item {
    flex-grow: 1;
    height: 100%;
    border-radius: 35px;
    transition: 
        flex-grow 750ms ease-out,
        transform 200ms,
        box-shadow 200ms;
    background-size: cover;
    background-position: center;
    
}

.gallery-item:not(.active):hover {
    transform: translateY(-7px);
    box-shadow: 2px 4px 15px 10px rgba(13, 14, 15, 0.6);
    cursor: pointer;
}

.gallery-item.active {
    flex-grow: var(--total-items);
}

header {
    width: 100vw;
    height: 100vh;
    position: relative; 
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer, .background, .layers_container, .head-text {
    width: 100vw;
    height: 100vh;
}

.background {
    transform: scale(1.2) translateZ(-80px);
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.head-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 75px 90px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.about {
    width: 80%;
    margin: 100px auto;
}

.about-text {
    margin-top: 10px;
}

.comments {
    width: 80%;
    margin: 100px auto;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-otthiv{
    height: 10vh;
    width: 5vw;
    border-radius: 75px;
}

.img-gameplay {
    width: 20%;
}

.features {
    width: 80%;
    margin: 100px auto;
}

.features-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    font-size: 1.2em;
}

.features-list li {
    padding: 30px;
    border: 2px solid black;
    border-radius: 25px;
    list-style-type: none;
    box-shadow: 10px 10px red;
}

.contacts {
    width: 80%;
    margin: auto;
}

.contact {
    margin-top: 10px;
    margin-left: 50px;
}

.links {
    width: 80%;
    margin: 25px auto;
}

.link {
    display: block;
    margin-top: 10px;
    margin-left: 50px;
}
